header.App-header {
  display: flex;
  background: rebeccapurple;
  height: 4rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  color: white;
  padding: 1rem;

  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

body {
  /* account for the fixed header */
  padding-top: 4rem;
}

header.App-header h1 {
  font-size: 3rem;
}

header.App-header > * {
  margin: 0;
  padding: 0;
}
