.CountriesPage {
  background-image: url('https://images.unsplash.com/photo-1541410965313-d53b3c16ef17?w=2180');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.Country {
  padding: 2rem;
}

.Country {
  font-size: 2rem;
}

.CountriesPage input[type='checkbox'] {
  position: absolute;
  left: -100vw;
}

.CountriesPage input[type='checkbox'] + label,
.CountriesPage button,
.CountriesPage input[type='submit'],
.CountriesPage input[type='search'] {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  border-radius: 2rem;
  height: 4rem;
  padding: 1rem;
  line-height: 1;
  font-size: 2rem;
  background: white;
  border: 2px solid blue;
  color: blue;
  transition: 1s all;
}

.CountriesPage input[type='checkbox']:checked + label,
.CountriesPage button.active,
.CountriesPage input[type='submit'] {
  border: 2px solid white;
  color: white;
  background: blue;
}
