.CarouselItem {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  flex-shrink: 0;
  flex-grow: 0;

  background-position: center;
  background-size: cover;

  color: white;
  text-shadow: 0.05em 0.05em 0.05em black;

  scroll-snap-align: center;
}
