.CarouselItem {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  flex-shrink: 0;
  flex-grow: 0;

  background-position: center;
  background-size: cover;

  color: white;
  text-shadow: 0.05em 0.05em 0.05em black;

  scroll-snap-align: center;

  position: relative;
}

.CarouselItem > * {
  margin: 0;
}

.CarouselItem button.favourite {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 5rem;
  background: red;
  border: none;
  transition: transform 1s;
  transform: none;
  animation: light-bounce 2s infinite ease-in-out;
}

.CarouselItem button.favourite.active {
  background: green;
}

@keyframes light-bounce {
  0% {
    transform: none;
  }
  50% {
    transform: translate(0, -10%) scale(1.05);
  }
  100% {
    transform: none;
  }
}


@keyframes fancy {
  0% {
    transform: none;
  }
  25% {
    transform: translate(-10%, 50%) scale(1.5);
  }
  50% {
    transform: translate(-20%, 20%) scale(0.8) rotate(0.8turn);
  }
  75% {
    transform: translate(20%, 40%) scale(0.2) rotate(-4turn);
  }
  100% {
    transform: none;
  }
}
