.CountryListSection {
    background-image: url('https://images.unsplash.com/photo-1541410965313-d53b3c16ef17?w=2180');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 4rem;
}

.CountryList {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: auto;
    column-gap: 2rem;
    row-gap: 2rem;
}
