.CountryListSection {
    background-image: url('https://images.unsplash.com/photo-1552733407-5d5c46c3bb3b?w=2180');
    background-attachment: fixed;
    background-size: cover;
    padding: 4rem;
}

.CountryList {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding: auto;
    column-gap: 2rem;
    row-gap: 2rem;
}
